@import "../mixins/";

.like-video {
  padding: 0.5rem;
  &__inner {
    padding: 1.5rem;
  }
  &__container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    width: 100%;
    cursor: pointer;
    &-img {
      border-radius: 100%;
    }
    &-user,
    > svg {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.05em;
      text-transform: lowercase;
      > svg {
        fill: rgb(96 165 250);
      }
    }
  }
  &__caption {
    > p {
      color: rgb(75 85 99);
    }
  }
}
