@import "../mixins/";

.suggested-accounts {
  border-bottom: 2px solid rgb(235, 237, 240);
  margin-bottom: 1rem;
  &__title {
    display: none;
    font-weight: 500;
    margin: 1rem 0.75rem 0.75rem 0.75rem;
    color: rgb(107 114 128);
    @include desktop-min {
      display: block;
    }
  }
  &__user-profile {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.25rem;
    &:hover {
      background: rgb(235, 237, 240);
      color: rgb(108, 113, 122);
    }
    div:first-child {
      width: 100%;
      max-width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
    &-img {
      border-radius: 100%;
    }
    &-name {
      display: none;
      p:first-child {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        align-items: center;
        font-weight: 600;
        color: currentColor;
        text-transform: lowercase;
        font-size: 0.75rem;
        line-height: 1rem;
        > span {
          svg {
            color: rgb(96, 165, 250);
          }
        }
      }
      > p {
        color: rgb(156 163 175);
        text-transform: capitalize;
        font-size: 0.75rem;
        line-height: 1rem;
      }
      @include desktop-min {
        display: block;
      }
    }
  }
}
