@import "../mixins/";

.video-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgb(229 231 235);

  &__content {
    display: flex;
    gap: 0.75rem;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.25rem;
  }

  &__container {
    width: 2.5rem;
    height: 2.5rem;
    @include small-tablet-min {
      width: 4rem;
      height: 4rem;
    }
  }

  &__image {
    border-radius: 100%;
    &--noavalaiable {
      border: 2px solid rgb(229 231 235);
    }
  }
  &__user,
  &__username,
  &__usernamelight {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__username {
    font-weight: 600;
    @include small-tablet-min {
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgb(28 25 23);
    }
  }
  &__icon {
    display: none;
    color: rgb(96 165 250);
    @include small-tablet-min {
      display: block;
    }
  }
  &__usernamelight {
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(107 114 128);
    font-size: 0.75rem;
    line-height: 1rem;
  }
  &__caption {
    margin-top: 0.5rem;
    font-weight: 400;
  }
  &__screen {
    display: flex;
    gap: 1rem;
    position: relative;
    @include tablet-min {
      margin-left: 1rem;
    }
    > div {
      border-radius: 1.5rem;
    }
  }

  &__player {
    width: 200px;
    cursor: pointer;
    background-color: rgb(243 244 246);
    border-radius: 1rem;
    @include tablet-min {
      width: 600px;
      height: 528px;
    }
    @include small-tablet-min {
      height: 400px;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    width: 100px;
    padding: 0.75rem;
    cursor: pointer;
    @include tablet-min {
      justify-content: space-between;
      width: 600px;
      left: 0;
    }
    @include small-tablet-min {
      left: 3.5rem;
      width: 50px;
    }
  }
}
