@import "../mixins/";

.video-asset {
  &__label {
    cursor: pointer;
  }
  &__wrapper,
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__content {
    height: auto;
  }

  &__icon,
  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    svg {
      color: rgb(209 213 219);
      font-size: 3.75rem;
      line-height: 1;
      transition: color 0.3s ease-out;
      &:hover {
        color: #f51997;
      }
    }
  }
  &__title {
    font-weight: 500;
  }

  &__subtitle {
    text-align: center;
    margin-top: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(156 163 175);
    line-height: 2rem;
  }

  &__button {
    background: #f51997;
    text-align: center;
    margin-top: 2rem;
    border-radius: 0.25rem;
    color: #fff;
    width: 13rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
    outline: none;
    &:hover {
      background: transparent;
      color: #000;
    }
  }

  &__input {
    width: 0;
    height: 0;
  }

  &__current {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 1.5rem;
  }

  &__uploaded {
    background: #000;
    margin-top: 4rem;
    height: 462px;
    border-radius: 0.75rem;
    width: 100%;
  }

  &__filename {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 4.5rem;
    &-text {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  &__wrongtype {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: rgb(248 113 113);
    margin-top: 1rem;
    width: 260px;
  }
}
