@import "../mixins/";

.details-video {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
  top: 0;
  @include for-desktop {
    flex-wrap: nowrap;
  }
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 8rem;
    max-width: 800px;
    background-color: #000;
    @include for-desktop {
      width: 100%;
    }
  }
  .video-card {
    border-bottom: none;
    &__content {
      display: none;
    }
    &__screen {
      width: 100%;
    }
    &__player {
      width: 100%;
      height: auto;
    }
  }
  &__card {
    position: relative;
    top: 20%;
    border-bottom: none;
    > div:nth-child(2) {
      margin: 0 auto;
      video {
        border-radius: 0;
      }
    }
  }
  button[data-name="details-video"] {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    z-index: 12.5rem;
    top: 0;
    left: 0;
    background: transparent;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    // &:hover {
    //   border: 2px solid #f51997;
    // }
    span {
      svg {
        width: 2.5rem;
        height: 3rem;
      }
    }
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    @include for-desktop {
      max-width: 900px;
    }
  }
}
