@import "../mixins/";

.details-video {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
  top: 0;
  @include for-desktop {
    flex-wrap: nowrap;
  }
  &__inner {
    position: relative;
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 800px;
    @include for-desktop {
      width: 65%;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: calc(100vh - 80px);
      background-image: url("../../assets/bg.jpeg");
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(6px);
    }
  }
  &__card {
    position: relative;
    width: 100%;
    top: 20%;
    border-bottom: none;
    > div:nth-child(2) {
      margin: 0 auto;
      video {
      }
    }
  }
  button[data-name="details-video"] {
    position: absolute;
    display: flex;
    gap: 1.5rem;
    z-index: 12.5rem;
    top: 1.5rem;
    left: 0.5rem;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    span {
      svg {
        width: 2rem;
        height: 2.5rem;
      }
    }
    @include for-desktop {
      left: 1.5rem;
    }
  }
  &__content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    @include small-tablet-min {
      max-width: 700px;
    }
    @include for-desktop {
      max-width: 900px;
    }
  }
}
