@import "../mixins/";

.search {
  width: 100%;
  &__buttons {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
    background: #fff;
    z-index: 50;
    border-bottom: 2px solid rgb(229 231 235);
    &-accounts,
    &-videos {
      background: transparent;
      border: none;
      outline: none;
      font-weight: 600;
      cursor: pointer;
      margin-top: 0.5rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      border-bottom: 2px solid transparent;
      margin-bottom: -2px;
    }
    .accounts,
    .videos {
      border-bottom: 2px solid #000;
      color: rgb(156 163 175);
      margin-bottom: -2px;
    }
  }
  .search__profile {
    @include small-tablet-min {
      margin-top: 4rem;
    }
    &-user {
      display: flex;
      gap: 0.75rem;
      padding: 0.5rem;
      cursor: pointer;
      font-weight: 500;
      border-radius: 0.25rem;
      border-bottom: 2px solid rgb(229 231 235);
    }
    &-image {
      border-radius: 100%;
    }
    &-text {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 600;
      color: rgb(129 138 157);
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &-icon {
      color: rgb(96, 165, 250);
    }
    &-username {
      text-transform: capitalize;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgb(156 163 175);
    }
  }
}
