@import "../mixins/";

.like-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  button,
  &__dislike,
  &__like {
    display: flex;
    border-radius: 100%;
    @include small-tablet-min {
      padding: 1rem;
    }
    &-img {
      font-size: 1rem;
      line-height: 1.5rem;
      @include small-tablet-min {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    > span {
      display: flex;
    }
  }
  button,
  &__dislike {
    color: #f51997;
    background: rgb(228, 228, 228);
    &:hover {
      color: #000;
    }
  }
  &__like {
    color: #000;
    background: rgb(228, 228, 228);
    box-shadow: none;
    border: none;
    &:hover {
      background: none;
    }
  }
  &__length {
    padding: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}
