@import "../mixins/";

.navbar {
  padding: 0.25rem;
  border-bottom: 2px solid rgb(229 231 235);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .logo {
    > div {
      width: 100px;
      cursor: pointer;
      @include small-tablet {
        width: 130px;
      }
      &__img {
        cursor: pointer;
      }
    }
  }
}
