@import "../../mixins";

.content-layout {
  padding: 1.5rem 0;
  &__title,
  &__body {
    max-width: 80rem;
    width: auto;
    padding: 0 1rem;
    @include mobile {
      padding: 0 1.5rem;
    }
    @include small-tablet {
      padding: 0 2rem;
    }
    > h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
}
