@import "../../mixins/";

.main-layout {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
  &__container {
    display: flex;
    gap: 1.5rem;
    @include small-tablet {
      gap: 0;
    }
  }
  &__content {
    flex-direction: column;
    gap: 2.5rem;
    overflow: auto;
    height: 88vh;
    flex: 1;
  }
}
