.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(229 231 235);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-weight: 500;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 70;
    cursor: not-allowed;
  }
  &--primary {
    background: var(--background-button-primary);
    color: var(--color-button-primary);
    &:hover {
      background: var(--background-button-secondary);
      color: var(--color-button-secondary);
    }
  }
  &--inverse {
    background: var(--background-button-secondary);
    color: #000;
    &:hover {
      background: var(--background-button-primary);
      color: var(--color-button-primary);
    }
  }
  &--danger {
    background: var(--background-button-danger);
    color: var(--color-button-primary);
    &:hover {
      background: var(--background-button-secondary);
      color: var(--color-button-danger);
    }
  }
  &--values {
    color: #fff;
    background: rgb(4 0 6 / 50%);
    box-shadow: none;
    font-size: 1.5rem;
    line-height: 2rem;
    border: none;
    border-radius: 100%;
    @include for-desktop {
      span {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }
    &:hover {
      background-color: rgb(0 0 0);
      color: var(--color-button-primary);
    }
  }
  &--size-sm {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &--size-lg {
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  &--size-md {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
