@import "pages";
@import "mixins";
@import "components";
@import "components/Elements";
@import "components/layouts";
@import "providers";
@import "features";
@import "vendors";
@import "forms";
html,
body,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --background-button-primary: #fd3012;
  --background-button-secondary: rgb(249 250 251);
  --background-button-danger: rgb(220 38 38);

  --color-button-primary: #fff;
  --color-button-secondary: #fd3012;
  --color-button-danger: rgb(220 38 38);

  --base-background-primary: #fd3012;
}
